.ourVideos{
    display: inline-block;
  
  }

@media (min-width: 300px) { 
  
    .ourVideos {
      width: 300px;
      height: 210px;
    }
  }
  @media (min-width: 576px) { 
   
    .ourVideos {
      width: 300px;
      height: 210px;
    }
  }
  
  
  @media (min-width: 768px) { 
   
    .ourVideos {
      width: 500px;
      height: 210px;
      margin-left: 6%;
    }
  }
  
  
  @media (min-width: 992px) { 
  
    
    .ourVideos {
      width: 500px;
      height: 210px;
      margin-left: 6%;
    }
  }
  
  
  @media (min-width: 1200px) { 
    .ourVideos {
      width: 500px;
      height: 360px;
      margin-left: 4%;
  }
  
  }
  